<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064125789495-fvpaelml4gkkaqs28fqisir97ok1tn77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064125789495-fvpaelml4gkkaqs28fqisir97ok1tn77</string>
	<key>API_KEY</key>
	<string>AIzaSyDtjSTg-SvSAN-w5hU9695bkolxf813n4s</string>
	<key>GCM_SENDER_ID</key>
	<string>1064125789495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eldosturapbaev.chatify</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-481cd</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-481cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064125789495:ios:6ab6e98dac9dc6a68a16b2</string>
</dict>
</plist>